{% extends "base.html" %}
{% load i18n %}

{% block content %}
<center>
{% if user.is_authenticated %}
<p>hello you are authentic!</p>

<form action="create" method="post"> {% csrf_token %}

{{form.as_p}}

<!--<p><label for="username">username:</label> <input id="username" name="username" type="text" value={{user.username}}></p>
-->
<input type="submit" name="submit" value="createblog">
</form>
{% else %}
       <h1><a href="{% url 'auth_login' %}">{% trans "Log in to Continue:" %}</a></h1>
{% endif %}

</center>
{% endblock %}